# 插件打包生成.vsix文件时忽略的文件

.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
!src/lib
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
pnpm-lock.yaml

*.env